body {
	background-color: #56585b;
}

img {
	object-fit: cover;
	width: 400px;
	height: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.jumbotron {
	font-size: 60px;
	font-family: 'Rajdhani', sans-serif;
	background-color: black;
	color: #cfcfd1;
}

#tagbutton {
	border-radius: 100px;
	padding: 5px;
	margin: 2px;
	font-family: 'Assistant', sans-serif;
	background-color: #cfcfd1;
}

#tagbutton:hover {
	background-color: white;
}